PATH_add $PWD/scripts
PATH_add $PWD/node_modules/.bin
export PATH=$PWD/bin:$PATH

if [[ -e "$PWD/.env-local" ]]; then
	source "$PWD/.env-local"
fi

if [[ -z "${NODE_ENV}" ]]; then
  export NODE_ENV=development
fi
